@import "tailwindcss";

@theme {
  --font-hand: var(--font-patrick-hand);
  --font-sans: var(--font-poppins);
}

:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
